.wrapper {
    width: 300px;
    padding: 20px;
    box-shadow: 0 0 10px 2px #89a5be7a;
    aside {
        ul {
            list-style: none;
            li {
                margin: 15px 0;
                .menuitem {
                    padding: 20px 35px;
                    text-decoration: none;
                    display: flex;
                    color: #000;
                    border-radius: 10px;
                    font-weight: 700;
                    &:hover {
                        background-color: var(--hover-color);
                    }
                    &.active {
                        background-color: var(--primary-color);
                        color: var(--white-color);
                    }
                    .logo {
                        padding-right: 30px;
                    }
                }
            }
        }
    }
}
