table {
    // $table-color: #d8edff;
    width: 100%;
    padding-left: 20px;
    th {
        padding: 20px 0;
        text-align: start;
    }
    tr {
        &:nth-child(even) {
            background-color: var(--while-color);
        }
        td {
            padding: 20px 0;
            // text-align: center;
            button {
                padding: 7px 10px;
                border-radius: 5px;
                border: none;
                font-weight: 600;
                background-color: #2777c0;
                color: var(--white-color);
                &:hover {
                    background-color: var(--red-color);
                }
            }
            input {
                padding: 5px;
                border-radius: 5px;
            }
        }
        &:hover {
            background-color: var(--hover-color);
            cursor: pointer;
        }
        &.nonehover {
            &:hover {
                background-color: transparent;
                cursor: pointer;
            }
        }
    }
}
