.wrapper {
    width: 150px;
    padding: 0 10px;
    ul {
        list-style: none;
        width: 100%;
        li {
            margin: 5px 0;
            padding: 10px;
            border-radius: 5px;
            width: 100%;
            a {
                display: flex;
                text-decoration: none;
                color: var(--black-color);
                height: 100%;
                width: 100%;
            }
            &:hover {
                background-color: var(--primary-color);
                color: var(--white-color);
            }
            &:hover a {
                background-color: var(--primary-color);
                color: var(--white-color);
            }
            span {
                padding-left: 15px;
            }
        }
    }
}
